.my-app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.my-slider {
	position: relative;
}
.swiper {
	/* width: 70%; */
	height: 320px;
}
.swiper.my-swiper-one {
	width: 70%;
}

.swiper-wrapper {
	width: 70%;
}

.pagination {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 108%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	font-size: 28px;
}
.pagination .next,
.pagination .prev {
	cursor: pointer;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-pagination-bullets {
	transition: 1s;
}
.swiper-pagination-bullet-active {
	width: 15px;
	height: 15px;
	background-color: red;
	transition: background-color 0.5s;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;

	padding: 20px;
}

.user-image {
	text-align: center;
}

.user-image img {
	border-radius: 50%;
}

.swiper-slide:nth-child(1n) {
	background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
	background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
	background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
	background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
	background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
	background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
	background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
	background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
	background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
	background-color: rgb(54, 94, 77);
}
